# NOTE: These are access transformers needed by the Common Module.
# They must be duplicated in the loader-specific projects' AT/AW as well if not already done so by the loader.
public net.minecraft.client.renderer.RenderType$CompositeState
public net.minecraft.client.renderer.RenderType$CompositeRenderType
public net.minecraft.client.renderer.entity.ItemRenderer f_115096_ # textureManager
public net.minecraft.client.multiplayer.ClientPacketListener f_104897_ # serverChunkRadius
public net.minecraft.client.Minecraft f_91013_ # pausePartialTick
public net.minecraft.client.gui.screens.Screen f_169369_ # renderables

public net.minecraft.server.MinecraftServer f_129744_ # storageSource

public net.minecraft.world.level.biome.BiomeManager f_47863_ # biomeZoomSeed
