# NOTE: These are access transformers needed by the Common Module.
# They must be duplicated in the loader-specific projects' AT/AW as well if not already done so by the loader.
public net.minecraft.client.renderer.RenderType$CompositeRenderType
public net.minecraft.client.renderer.RenderType$CompositeState
public net.minecraft.world.level.block.entity.BlockEntityType$BlockEntitySupplier

public-f net.minecraft.client.gui.components.AbstractWidget render(Lnet/minecraft/client/gui/GuiGraphics;IIF)V
public net.minecraft.client.renderer.blockentity.BlockEntityRenderers register(Lnet/minecraft/world/level/block/entity/BlockEntityType;Lnet/minecraft/client/renderer/blockentity/BlockEntityRendererProvider;)V
